.title_login{
    font-size: 35px;
    margin-bottom: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.139);
}
.login{
    background-image: url(http://1.bp.blogspot.com/-GRxSdbZAq-A/Ucmb3Rr13bI/AAAAAAAAA1o/wH-Jd45hOTY/s1600/hinh-nen-may-tinh-poster-phim-10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top ;
    display: flex;
    .login_left{
        width: 65%;
    }
    .login_right{
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.5);
        padding-bottom: 150px;
        margin: 25px;
        .title_right{
            margin-top: 25px;
            text-align: center;
            font-size: 23px;
        }
        .right_top{
            display: flex;
            padding: 0 10px;
            border-radius: 15px 15px 0 0;
            background: rgba(172, 255, 47, 0.5);
            img{
                width: 130px;
            }
            h1{
                display: flex;
                margin-left: 15px;
                font-size: 20px;
                padding-top: 28px;
                margin-bottom: 0;
                text-align: center;
            justify-content: center;
            align-items: center;
            }
        }
        .form_login{
            padding-top: 20px;
            .form-group{
                margin: 0 auto;
                width: 350px;
                margin-bottom: 10px;
                input{
                    border-radius: 7px;
                }
                label{
                    margin-bottom: 0;
                    font-weight: 500;
                }
            }
            .button_login{
                display: flex;
                justify-content: space-evenly;
                margin: auto;
                margin-top: 20px;
            }
        }
    }
}