.Footer__home{
    padding: 10px 0 15px 0;
    background: rgb(41,41,41);
    background: linear-gradient(81deg, rgba(41,41,41,1) 0%, rgba(220,220,220,1) 47%, rgba(176,169,169,1) 99%);
}
.FooterBottom{
    h1{
        color: white;
        text-align: center;
    }
    padding: 15px ;
    background-color: rgba(0, 0, 0, 0.85);
}