.update {
  .form_update {
    padding: 20px 100px;
    .form-group {
      margin-bottom: 20px;
      label {
        margin-bottom: 0;
        font-size: 20px;
      }
    }
    button {
      margin: 0 auto;
      background-color: rgb(53, 166, 53);
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }
  }
}
