.BG_Film .nav-item .active {
  border-bottom: 2px solid yellowgreen;
  color: yellowgreen;
}
.button_Carousel {
  background: none;
  margin-left: 10px;
  height: 45px;
  width: 150px;
  padding: 0;
  border: 0px;
  /* font-size: 15px; */
  font-weight: 800;
}
.title_CA {
  padding: 10px;
  transition: all 0.4s linear;
}
.title_CA:hover {
  transition: all 0.4s linear;
  font-size: 15px;
}
