.rap_container {
  box-shadow: 2px 0 15px 1px rgba(2, 2, 2, 0.348);
  max-width: 1250px;
  padding: 25px;
  border-radius: 10px;
  transition: all 0.5s;
}
.rap_container:hover {
  transition: all 0.5s;
  transform: scale(1.01);
}
.title_hethong {
  font-size: 30px;
  margin-bottom: 25px;
}
.rap_container .ant-tabs-tab {
  opacity: 0.4;
  padding: 0;
}
.rap_container .ant-tabs-left > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-left > div > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-right > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-right > div > .ant-tabs-nav .ant-tabs-tab .AAA:hover {
  padding-left: 0 !important;
}
.title_rap {
  transition: all 0.3s;
}
.title_rap:hover {
  transition: all 0.5s;
  color: #1890ff;
}
.rap_container .ant-tabs-tab-active {
  transition: all 0.6s;
  opacity: 1;
}
/* ss */
.rap_container .ant-tabs-nav-list {
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}
.ant-tabs-nav-more {
  display: none;
}

.rap_container .ant-tabs-content .ant-tabs-content-left {
  width: 720px;
  height: 600px;
  overflow: hidden;
  overflow-y: scroll;
}
/* LỊCH CHIEU */
.lichchieu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.lichchieu_item {
  padding: 5px;
  margin-left: 20px;
}
.lichchieu_time {
  opacity: 0.5;
  font-weight: 500;
  padding: 2px 3px;
  border-radius: 10px;
  border: 2px solid white;
  transition: all 0.2s;
}
.lichchieu_time:hover {
  transition: all 0.5s;
  border: 2px solid #5cbd2b7e;
  opacity: 1;
}
