.MovieContainer {
  padding: 0 20px 20px 0;
  position: relative;
  width: 100%;
  height: 100%;
}
.movieName {
  color: beige;
}
.img_render {
  width: 100%;
  height: 350px;
  border-radius: 10px;
}
.movieItem {
  position: relative;
  transform: scale(1);
  transition: all 0.6s linear;
  padding: 20px 0 0 0;
}
.splide__list {
}
.movieItem :hover {
  transition: all 0.3s linear;
  /* overflow: hidden; */
  transform: scale(1.1);
  /* position: absolute; */
  z-index: 10;
}
.Title_bottom {
  /* position: absolute; */
  /* top: 20px; */
  margin-top: -5px;
  padding-top: 5px;
  border-radius: 0 0 10px 10px;
  z-index: 10;
  background-color: pink;
}
.movieName {
  text-align: center;
  color: black;
  font-weight: 800;
}
.movieDanhGia {
  color: yellow;
}
