.thongtintaikhoan {
  .thongtintaikhoan__content {
    padding: 20px 100px;
  }
  .item__title {
    font-size: 22px;
    font-weight: 600;
  }
  .item__content {
    border-bottom: 1px solid #00c6d7;
    color: #eee;
    font-size: 17px;
    margin-bottom: 20px;
  }
}
